[submodule "backend"]
	path = backend
	url = https://github.com/katekate7/TrevelProject-Backend.git
	branch = main
[submodule "frontend"]
	path = frontend
	url = https://github.com/katekate7/TrevelProject-Frontend.git
	branch = main
