[submodule "backend"]
	path = backend
	url = https://github.com/katekate7/TrevelProject-Backend.git
	branch = main
[submodule "Frontend"]
	path = Frontend
	url = https://github.com/katekate7/TrevelProject-Frontend.git
